<launch>
	
	<!-- Include the MAVROS node with SITL and Gazebo -->
    <!-- <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/iris_obstacle.world"/> -->
	<include file="$(find offb)/launch/mavros_posix_sitl.launch"></include>
	<!-- <include file="$(find offb)/launch/obstacle.launch"></include> -->
	

	<!-- <include file="$(find offb)/launch/obstacle.launch">
		
	</include> -->
	<!-- Our node to control the drone -->
	<node pkg="offb" type="test_fly" name="test_fly" required="true" output="screen" />

</launch>